<app-header-app
  [title]="'CATEGORÍAS - ' + organization_name"
  (go_back)="goBack()"
  [can_back]="true"
>
</app-header-app>

<ion-content class="ion-padding">
  <section class="container-router-outlet">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row
            class="flex align-items-center justify-content-center text-center"
          >
            <ion-col size="12" sizeLg="8">
              <ion-searchbar
                class="text-left"
                mode="ios"
                animated="true"
                (ionInput)="search_categories($event)"
                placeholder="Buscar categoría..."
                id="product-categories-input-searchbar-product-category"
              >
              </ion-searchbar>
            </ion-col>
            <ion-col size="12" sizeLg="4">
              <ion-button
                fill="clear"
                size="default"
                (click)="view_modal_product_categories(null)"
                id="product-categories-button-new-product-category"
              >
                <ion-icon name="add-outline"></ion-icon>
                <ion-label> AÑADIR CATEGORÍA</ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="text-left ion-padding">
          <ion-toggle
            [enableOnOffLabels]="true"
            (ionChange)="reorder()"
            id="product-categories-toggle-order"
          >
            Ordenar
          </ion-toggle>
        </div>

        <div class="text-center">
          <ion-text *ngIf="order_categories">
            Pulsa y arrastra para ordenar
          </ion-text>
        </div>

        <ion-list mode="ios">
          <ion-reorder-group
            [disabled]="!order_categories"
            (ionItemReorder)="handleReorder($any($event))"
          >
            <app-product-category-item
              *ngFor="let category of categories | FilterProductCategories: search_term | slice: first: first + rows ; let i = index"
              [category]="category"
              [line]="i < (categories | FilterProductCategories : search_term).length - 1 ? 'full':'none'"
              [order_categories]="order_categories"
              (delete_product_category)="delete_product_category($event)"
              (view_modal_product_categories)="view_modal_product_categories($event)"
              (view_category)="view_category($event)"
            >
              <ion-reorder slot="start"></ion-reorder>
            </app-product-category-item>
          </ion-reorder-group>
        </ion-list>

        <div #paginator>
          <p-paginator
            *ngIf="(categories | FilterProductCategories: search_term).length"
            [rows]="rows"
            [first]="first"
            [totalRecords]="(categories | FilterProductCategories: search_term).length"
            [rowsPerPageOptions]="[5, 10, 20,]"
            (onPageChange)="onPageChange($event)"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} categorías"
            dropdownAppendTo="body"
          >
          </p-paginator>
        </div>
      </ion-card-content>
    </ion-card>
  </section>
</ion-content>

<ion-footer *ngIf="order_categories">
  <ion-toolbar>
    <div class="grid py-3 text-center">
      <div class="col-12 md:col-6">
        <ion-button
          color="primary"
          fill="solid"
          (click)="reset_order()"
          id="product-categories-button-reset-order"
        >
          Restaurar orden
        </ion-button>
      </div>
      <div class="col-12 md:col-6">
        <ion-button
          color="primary"
          fill="solid"
          (click)="save_order()"
          id="product-categories-button-save-order"
        >
          Guardar Orden
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
<p-toast position="bottom-center"></p-toast>
