<div class="min-h-screen flex relative xl:static surface-ground">
  <!-- Menú lateral -->
  <div
    id="app-sidebar"
    class="h-full flex-shrink-0 fixed left-0 top-0 z-3 select-none fadeinleft animation-duration-150"
    style="width: 300px"
  >
    <div class="flex flex-column h-full km-bg-app-menu-v">
      <div
        class="flex align-items-center justify-content-center px-5 flex-shrink-0"
      >
        <!-- Botón cerrar menú -->
        <div
          class="menu-button-close"
          (click)="handleMenu()"
          id="menu-admin-button-close-menu"
        >
          <i class="pi pi-chevron-left"></i>
        </div>
        <!-- Logo APP -->
        <img
          src="/assets/logo-app-komandero.png"
          alt="Logo Komandero"
          class="py-3"
          height="auto"
          style="max-height: 150px; border-radius: 50%"
        />
      </div>
      <!-- Separador Logo -->
      <hr class="menu-logo-separator" />

      <!-- Componente Menú -->
      <ul class="list-none p-2 m-0 overflow-y-auto">
        <app-item-menu
          *ngFor="let item of menu_items"
          [item]="item"
          (go_to)="go_to($event)"
        ></app-item-menu>
      </ul>
    </div>
  </div>

  <div class="min-h-screen flex flex-column relative flex-auto">
    <div
      class="flex justify-content-between align-items-center px-5 surface-0 relative xl:static km-bg-app-menu-h-menu-admin"
      style="height: 80px"
    >
      <!-- Botón abrir menu -->
      <div>
        <a
          id="menu-admin-button-deploy-menu"
          *ngIf="!deployed_menu"
          (click)="handleMenu()"
          class="cursor-pointer"
          pRipple
        >
          <i
            class="pi pi-bars text-2xl text-300 fadeinright animation-duration-200"
          ></i>
        </a>
      </div>
      <!-- Logotipo -->
      <div *ngIf="!deployed_menu">
        <img
          src="/assets/logo-app-komandero.png"
          height="auto"
          style="max-height: 80px; border-radius: 50%"
          alt="Logo"
          class="py-2 fadein animation-duration-150"
        />
      </div>
      <!-- Panel usuario -->
      <div></div>
    </div>
    <div class="flex flex-column flex-auto">
      <ion-content (click)="backdrop()">
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </div>
  </div>
</div>
